* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Inter', sans-serif;
}

:root {
    --file-uploading: #AC96E4;
    --file-upload-sucess: #73B172;
    --file-upload-error: #E36363;


    --bg-uploading: #E9E3F8;
    --bg-upload-sucess: #DAF2D9;
    --bg-upload-error: #F2D9D9;

    --file-name: #575361;
    --file-size: #857E95;

    /* 1rem = 10px*/
    font-size: 62%;
}


body {
    width: 100vw;
    height: 100vh;
    background: #FBFAFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    width: 44rem;
    height: 42rem;
}

#content form #upload-box {
    width: 100%;
    height: 16rem;
    box-sizing: border-box;

    border: 1px dashed #C1B2FA;
    border-radius: .8rem;

    background: #F3F0FF;

    display: flex;
    align-items: center;
    justify-content: center;
}

#upload-box .box-label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#upload-box #upload-icon {
    font-size: 6rem;
    color: #7C3AED;
    margin-bottom: 1.2rem;
}

#upload-box .box-label strong {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: .6rem;
    color: #7A5FEC;
}

#upload-box .box-label span {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;

    margin-bottom: .6rem;
    color: #746E82;
}


#upload-file,
.upload-button {
    display: none;
}

#file-box .status {
    width: 100%;
    height: 7.2rem;
    padding: .8rem;
    border-radius: .8rem;
    background: #FFFFFF;
    margin: 2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.status .file-icon {
    height: 100%;
    width: 4.8rem;
    border-radius: .4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
}

.uploading .file-icon {
    color: var(--file-uploading);
    background: var(--bg-uploading);
}

.success .file-icon {
    color: var(--file-upload-sucess);
    background: var(--bg-upload-sucess);
}

.error .file-icon {
    color: var(--file-upload-error);
    background: var(--bg-upload-error);
}

.file {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.file .name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--file-name);    
}
.file .size {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--file-size);    
}

.file .progress-bar {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.file .progress-bar .bar-size {
    width: 33rem;
    height: 1rem;
    border-radius: 999px;
    background: #E3E3ED;
    overflow: hidden;
}
.uploading .file .progress-bar .bar-size .progress {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, rgba(58, 97, 237, 0.52) 0%, #7C3AED 100%);
}
.success .file .progress-bar .bar-size .progress {
    width: 100%;
    height: 100%;
    background: var(--file-upload-sucess);
}


.file .progress-bar .percent {
    width: 3rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.uploading .file .progress-bar .percent {
    color: #9892A6;
}
.success .file .progress-bar .percent {
    color: var(--file-upload-sucess);
}
.error .file .progress-bar .percent {
    color: var(--file-upload-error);
}


/*
 * close and retry icons
*/
#file-box .status button.icon{
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 2rem;
    color: #794FED;
    background: transparent;
    transition: .3s;
}
#file-box .status button.icon:hover {
    color: #a085eb;
}
